 :root {
   --swiper-pagination-color: #FFFFFF !important;
   --swiper-pagination-bullet-inactive-color: #999999 !important;
   --swiper-pagination-bullet-inactive-opacity: 1 !important;
   --swiper-pagination-bullet-size: 8px !important;
   --swiper-pagination-bullet-horizontal-gap: 3px !important;
   --swiper-theme-color: #000000 !important;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }